<!DOCTYPE HTML>
<html lang="en">
    <head>
        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}
        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}

        <style>
            .body-inner {
                display: flex;
                flex-direction: column;
                height: 100vh; 
                padding: 5%;
            }
        </style>
    </head>
    <body>
        <div class="book">
            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Navigation content here -->
                </div>

                <div class="body-inner">
                    <h1>Welcome to Our XR Development Blog!</h1>
                    <p>
                        We are a group of three students: <br>
                        - Devlin Onichuk (325592) <br>
                        - Rajib Paudyal (325836) <br>
                        - Adrian Bugiel (325618) <br>
                    </p>
                    <p>
                        This is our development blog for the XR Development course, where we will share our progress, insights, and learnings throughout the course. You can navigate to different sections of the blog by clicking on the links on the side.
                    </p>
                </div>
            </div>

            <script>
                var gitbook = gitbook || [];
                gitbook.push(function() {
                    gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
                });
            </script>
        </div>

        {%- include footer.html -%}
    </body>
</html>
